body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
	font-family: 'OpenSans-Regular';
	font-size: 100%;
	background: #ffffff;
}

@font-face {
   font-family: 'OpenSans-Regular';
   src: url(../fonts/OpenSans-Regular.ttf)format('truetype');
}
@font-face {
   font-family: 'Norican-Regular';
   src: url(../fonts/Norican-Regular.ttf)format('truetype');
}
.banner{
  background: url(../images/banner.jpg) no-repeat 0px 0px;
  background-size: cover;
}
.top-banner{
	padding:0;
}
.logo{
  padding: 0em 0 0 0;
  text-align: center;
  background: #FFF;
}
.logo a{
  color: #1CD5B4;
  font-size: 3.5em;
  text-decoration: none;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
.top-nav {
  text-align: center;
  padding: 1.5em 0 1em 0;
  border-bottom: ridge 1px rgba(189, 189, 189, 0.27);
  background: #FFF;
}
.top-nav ul {
  padding: 0;
  margin: 0;
}
.top-nav ul li {
  display: inline-block;
  margin: 0 2em;
}
.top-nav ul li a.active {
  border-bottom: solid 2px #000000;
  color: #000000;
}
.top-nav ul li a {
  color: #1CD5B4;
  font-size: 1em;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 600;
  text-decoration: none;
  padding: 0 0 1em 0;
}
.top-nav ul li a:hover{
  border-bottom: solid 2px #000000;
  color: #000000;
}
.banner-grid{
  margin: 0 0 0 65em;
}
.banner-info {
  margin: 13em 8em 0 0;
  text-align: right;
}
.banner-info h3{
  color: #FFF;
  font-size: 2em;
  margin: 0 0 1em 0;
}
.banner-info p{
  font-size: .9em;
  margin: 0;
  color: #FFF;
  line-height: 1.8em;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.bx-caption {
  bottom: 0;
  background: rgba(28, 213, 180, 0.66);
  padding: 30px 0;
  text-align: left;
  right: 0;
  height: 670px;
  position: relative;
}
.bx-caption:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 670px 535px 0px 0;
  border-color: transparent rgba(28, 213, 180, 0.82) transparent transparent;
  position: absolute;
  left: -535px;
  top: 0;
  opacity: .8;
}
.bx-caption span {
  color: #fff;
  width: 380px;
  font-family: 'Righteous', sans-serif;
  font-size: 78px;
  line-height: 69px;
  font-weight: 400;
  top: 79px;
  right: 400px;
  position: absolute;
  text-align: right;
}




/*------------------ Slider Part starts Here----------*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 100%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 16px;
  width: 15px;
  background: transparent url("../images/themes.png") no-repeat left top;
  margin-top: 0;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: 7%;
  background-position: right top;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
  list-style: none;
  position: absolute;
  top: 138%;
  z-index: 999;
  right: 24%;
  padding: 0;
  margin: 0;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
  display: inline-block;
  margin: 0 .2em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 12px;
  width: 12px;
  background: #FFFFFF;
  display: inline-block;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
  border: 2px solid #000000;
  background: #FFFFFF;
}
/*-- welcome --*/
.welcome{
  padding: 4em 0;
  text-align: center;
}
.welcome-info h3{
  color: #1cd5b4;
  font-size: 3em;
  margin: 0;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
p.caption{
  font-size: .9em;
  margin: 0.5em 0 0 0;
  font-style: italic;
  color: #cbcbcb;
}
.welcome-info p.welcome-text{
  font-size: .9em;
  margin: 2em auto 0;
  color: #919191;
  line-height: 1.8em;
  width: 52%;
}
/*-- offer --*/
.offer {
  border-top: solid 1px #919191;
  border-bottom: solid 1px #919191;
}
.offer-left {
float: right;
  padding: 3em 14em 2em 4em;
  width: 60%;
  text-align: left;
}
.offer-right {
  background: url(../images/3.jpg) no-repeat 0px 0px;
  background-size: cover;
  float: left;
  min-height: 446px;
  width: 40%;
}
.offer-left h3 {
  color: #1cd5b4;
  font-size: 3em;
  margin: 0;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
.offer-left p {
  color: #919191;
  font-size: .9em;
  margin: 2em 0 1em;
  line-height: 1.8em;
}
.offer-left-list {
  float: left;
  width: 43%;
}
.offer-left-list ul {
  padding: 0;
  margin: 1em 0 0 0;
}
.offer-left-list ul li {
  display: block;
  margin: .5em 0;
}
.offer-left-list ul li a {
  color: #919191;
  font-size: .9em;
  text-decoration: none;
  padding-left: 1.5em;
  background: url(../images/dot.png) no-repeat 0px 6px;
}
/*-- news --*/
.news{
  padding: 4em 0;
}
.news-info{
	text-align:center;
}
.news-grids {
  margin-top: 3em;
}
.news-info h3{
  color: #1cd5b4;
  font-size: 3em;
  margin: 0;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
.news-info p{
  font-size: .9em;
  margin: 0.5em 0 0 0;
  font-style: italic;
  color: #cbcbcb;
}
.destination-grids {
  margin: 3em 0 0 0;
}
.date {
  text-align: center;
  width: 80px;
}
.date h5{
  color: #FFFFFF;
  font-size: 1.5em;
  margin: 0;
  background: #1cd5b4;
  padding: .5em 0 .3em 0;
  border-top-left-radius: 30px;
  -webkit-border-top-left-radius: 30px;
  -moz-border-top-left-radius: 30px;
  -ms-border-top-left-radius: 30px;
  -o-border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-top-right-radius: 30px;
  -ms-border-top-right-radius: 30px;
  -o-border-top-right-radius: 30px;
}
.date p{
  font-size: 1em;
  margin: 0;
  color: #FFFFFF;
  letter-spacing: 3px;
  background: #919191;
  padding: .5em 0 1em 0;
  border-bottom-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-bottom-left-radius: 30px;
  -ms-border-bottom-left-radius: 30px;
  -o-border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-bottom-right-radius: 30px;
  -ms-border-bottom-right-radius: 30px;
  -o-border-bottom-right-radius: 30px;
}
.date-bottom {
  margin-top: 1em;
}
.date-bottom p{
  font-size: .9em;
  margin: 0;
  color: #919191;
  line-height: 1.8em;
}
/*-- family --*/
.family{
  padding: 4em 0;
  background:url(../images/4.jpg) no-repeat 0px 0px;
  background-size:cover;
}
.family{
	text-align:center;
}
.family h3{
	color: #FFFFFF;
	font-size: 3em;
	margin: 0;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
.family p{
  font-size: .9em;
  margin: 0.5em 0 0 0;
  font-style: italic;
  color: #FFFFFF;
}
.family-grids {
  margin: 4em 0 0 0;
}
.family-grid{
	text-align:center;
}
.family-grid img{
	
}
.family-grid h4{
	color: #FFFFFF;
	font-size: 2em;
	margin: 2em 0 0 0;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
/*-- footer --*/
.footer-top{
  padding: 2em 0;
}
.footer-logo {
	float:left;
}
.footer-logo a {
  color: #B0B0B0;
  font-size: 3em;
  text-decoration: none;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
.footer-icons{
	float:right;
}
.footer-icons ul{
  padding: 0;
  margin: 1em 0 0 0;
}
.footer-icons ul li{
  display: inline-block;
  margin: 0 .3em;
}
.footer-icons ul li a.facebook {
  background: url(../images/social.png) no-repeat 0px 0px;
  width: 40px;
  height: 40px;
  display: block;
}
.footer-icons ul li a.twitter {
  background: url(../images/social.png) no-repeat -41px 0px;
}
.footer-icons ul li a.chrome {
  background: url(../images/social.png) no-repeat -82px 0px;
}
.footer-icons ul li a.dribbble {
  background: url(../images/social.png) no-repeat -123px 0px;
}
.footer-icons ul li a.facebook:hover{
	opacity:.5;
}
.footer-bottom{
  background: #B0B0B0;
  padding: 1em 0;
  text-align: center;
}
.footer-bottom p{
	font-size: .9em;
	margin: 0;
	color: #FFF;
	line-height: 1.8em;
}
.footer-bottom p a{
	color: #FFF;
}
.footer-bottom p a:hover{
	color:#ff6d36;
	text-decoration:none;
}
/*-- about --*/
.about{
  border-top: solid 1px #919191;
  padding: 0;
  border-bottom: solid 1px #919191;
}
.about-info {
  padding: 3em 0;
  text-align: center;
  background: #F9F9F9;
}
.about-info h3{
  color: #1cd5b4;
  font-size: 3em;
  margin: 0;
  font-family: 'Norican-Regular';
  letter-spacing:2px;
}
.about-right {
  background: url(../images/1.jpg) no-repeat 0px 0px;
  background-size: cover;
  float: left;
  min-height: 380px;
  width: 40%;
}
.about-bottom {
  background: url(../images/4.jpg) no-repeat 0px 0px;
  background-size: cover;
  padding: 4em 0;
}
.about-bottom-grids {
  margin-top: 4em;
}
.about-bottom h3 {
  color: #FFF;
  margin: 0;
  font-size: 3em;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
.about-bottom-left h4 {
  color: #FFF;
  margin: 0;
  font-size: 1.5em;
}
.about-bottom-left p {
  color: #FFFFFF;
  font-size: .9em;
  margin: 2em 0 0 0;
  line-height: 1.8em;
}
.about-bottom-left p span {
  display: block;
  margin: 2em 0;
}
.about-team {
  background: #1CD5B5;
  padding: 3em 0;
}
.team-grids {
  margin-top: 3em;
}
.about-team h4 {
  color: #FFF;
  margin: 0;
  font-size: 3em;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
.team-grid img {
  width: 100%;
}
.team-grid h6 {
  font-size: 1.5em;
  color: #FFF;
  margin: 1em 0 1em 0;
  text-transform: capitalize;
}
.team-grid p {
  color: #FFF;
  font-size: .9em;
  margin: 0;
  line-height: 1.8em;
}
/*-- gallery --*/
.gallery-top {
  background: #F9F9F9;
}
.gallery-info {
  margin: 3em 0;
  text-align: center;
}
.gallery-info h3 {
  color: #1cd5b4;
  font-size: 3em;
  margin: 0;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
.gallery-grid img {
  width: 100%;
}
.gallery-grid:hover img {
  -webkit-filter: grayscale(100%);
  opacity: 8;
  transition: all 300ms!important;
  -webkit-transition: all 300ms!important;
  -moz-transition: all 300ms!important;
}
.gallery-grids-middle{
	margin:2em 0;
}
.gallery-grids-top {
  margin-bottom: 4em;
}
/*-- typography --*/
.typography {
  padding: 5em 0;
  background: #F9F9F9;
}
.typography-info {
  text-align: center;
  margin-bottom: 3em;
}
.typography-info h3.type {
  color: #1cd5b4;
  font-size: 3em;
  margin: 0;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;;
}
.grid_4{
	background:#fff;
	padding:2em 0em 0em 0em;
}  
.grid_5{
	padding:1em 0 2em 0;
}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.8em;
  color: #999;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
h4.typ1{
	margin-bottom:15px;
}
h5.typ1{
	margin-bottom:15px;
}
.progress {
  height: 8px;
  box-shadow: none;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #03a9f4;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar {
  box-shadow: none;
}
.progress-bar-primary {
  background-color: #03a9f4;
}
.progress-bar-info {
  background-color: #00bcd4;
}
.progress-bar-success {
  background-color: #8bc34a;
}
.progress-bar-warning {
  background-color: #ffc107;
}
.progress-bar-danger {
  background-color: #e51c23;
}
.progress-bar-inverse {
  background-color: #757575;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:#5bb2fc; !important;
  border-color:#5bb2fc; !important;
}
.grid_3 p,.page-header p {
  color: 888;
  font-size: 0.8em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.breadcrumb li{
	font-size:0.85em;
}
.breadcrumb li a{
	  color:#5bb2fc;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
  margin-top:0.5em
}
/*-- contact --*/
.contact-top {
  background: #F9F9F9;
}
.contact-info {
  margin: 3em 0;
  text-align: center;
}
.contact-info h3 {
  color: #1cd5b4;
  font-size: 3em;
  margin: 0;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
.map iframe {
  width: 100%;
  min-height: 400px;
  border: none;
}
.mail-grids {
  margin: 3em 0;
}
.mail-grid-left h3 {
  color: #1cd5b4;
  font-size: 3em;
  margin: 0;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
.mail-grid-left h5 {
  color: #919191;
  font-size: .9em;
  margin: 0;
  line-height: 1.8em;
}
.mail-grid-left h5 span {
  display: block;
}
.mail-grid-left h4 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: .5em 0;
}
.mail-grid-left p {
  color: #919191;
  font-size: .9em;
  margin: 1em 0;
  line-height: 1.8em;
}
.mail-grid-left p a{
  color: #919191;
	text-decoration:none;
}
.mail-grid-left p span {
  display: block;
}
.contact-form form {
  text-align: right;
}

.contact-form h3 {
  color: #1cd5b4;
  font-size: 3em;
  margin: 0;
  font-family: 'Norican-Regular';
  letter-spacing: 2px;
}
.contact-form h5 {
  color: #919191;
  font-size: .9em;
  margin: 0;
  line-height: 1.8em;
}
.contact-form input[type="text"] {
  width: 100%;
  color: #919191;
  background: none;
  outline: none;
  font-size: .9em;
  padding: .5em;
  margin-bottom: 1em;
  border: solid 1px #919191;
  -webkit-appearance: none;
}
.contact-form select {
  width: 100%;
  color: #919191;
  background: none;
  outline: none;
  font-size: .9em;
  padding: .5em;
  margin-bottom: 1em;
  border: solid 1px #919191;
  -webkit-appearance: none;
}
.contact-form input[type="button"] {
  border: none;
  outline: none;
  color: #FFF;
  padding: .5em 1.5em;
  font-size: .9em;
  font-weight: 600;
  margin: 0.5em 0 0 0;
  -webkit-appearance: none;
  background: #1CD5B5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
.contact-form textarea {
  resize: none;
  width: 100%;
  background: none;
  color: #919191;
  font-size: .9em;
  outline: none;
  padding: .5em;
  border: solid 1px #919191;
  min-height: 150px;
  -webkit-appearance: none;
}
.contact-form input[type="submit"] {
  border: none;
  outline: none;
  color: #FFF;
  padding: .5em 1.5em;
  font-size: .9em;
  font-weight: 600;
  margin: 0.5em 0 0 0;
  -webkit-appearance: none;
  background: #1CD5B5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.contact-form input[type="submit"]:hover {
background: #18A990;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
span.menu {
  display: none;
}
/*-- responsive-design starts-here --*/
@media (max-width: 1440px) {
	/*-- home --*/
	.banner-grid {
	  margin: 0px 0 0 59em;
	}
	.bx-caption:before {
	  border-width: 670px 458px 0px 0;
	  left: -458px;
	}
	.callbacks_tabs {
	  top: 117%;
	  right: 26%;
	}
	/*-- about --*/
	.about-right {
		min-height: 403px;
	}
}
@media (max-width: 1366px) {
	/*-- home --*/
	.banner-grid {
	  margin: 0px 0 0 49em;
	}
	.bx-caption:before {
	  border-width: 590px 370px 0px 0;
	  left: -370px;
	}
	.bx-caption {
		height: 590px;
	}
	/*-- about --*/
	.offer-left-list {
	  width: 49%;
	}
	.about-right {
	  min-height: 432px;
	}
}
@media (max-width: 1280px) {
	/*-- home --*/
	.offer-left {
		padding: 3em 10em 2em 4em;
	}
	.banner-info {
		margin: 8em 8em 0 0;
	}
	.banner-grid {
	  margin: 0px 0 0 39em;
	}
	.bx-caption {
	  height: 510px;
	}
	.bx-caption:before {
	  border-width: 510px 283px 0px 0;
	  left: -283px;
	}
	.offer-left {
	  padding: 3em 4em 2em 4em;
	}
}
@media (max-width: 1080px) {
	/*-- about --*/
	.about-right {
	  background: url(../images/1.jpg) no-repeat -93px 0px;
	  background-size: cover;
	}
	.team-grid h6 {
		font-size: 1.3em;
	}
}
@media (max-width: 1024px) {
	/*-- home --*/
	.banner-grid {
	  margin: 0px 0 0 33em;
	}
	.banner-info h3 {
		font-size: 1.7em;
	}
	.offer-left {
	  padding: 3em 3em 2em 3em;
	}
	.family-grid img {
	  width: 100%;
	}
}
@media (max-width: 991px) {
	/*-- home --*/
	.banner-info h3 {
	  font-size: 1.5em;
	}
	.callbacks_tabs {
	  right: 29%;
	}
	.offer-right {
	  background: url(../images/3.jpg) no-repeat 0px -125px;
	  background-size: cover;
	  float: none;
	  min-height: 390px;
	  width: 100%;
	}
	.offer-left {
	  float: none;
	  width: 100%;
	}
	.news {
	  padding: 3em 0;
	}
	.news-grid:nth-child(2){
	  margin: 2em 0;
	}
	.welcome-info p.welcome-text {
		width: 73%;
	}
	.family-grid {
	  float: left;
	  width: 33.33%;
	}
	/*-- about --*/
	.about-right {
	  background: url(../images/1.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  float: none;
	  width: 100%;
	}
	.about-bottom-right {
	  margin-top: 4em;
	}
	.team-grid {
	  float: left;
	  width: 50%;
	  margin-bottom: 1em;
	}
	/*-- gallery --*/
	.gallery-grid {
	  float: left;
	  width: 50%;
	  margin-bottom: 2em;
	}
	.gallery-grids-middle {
	  margin: 0;
	}
}
@media (max-width: 800px) {
	/*-- home --*/
	.top-nav ul li {
		margin: 0 1em;
	}
	.banner-info {
	  margin: 3em 3em 0 0;
	}
	.bx-caption {
	  height: 394px;
	}
	.bx-caption:before {
	  border-width: 394px 193px 0px 0;
	  left: -193px;
	}
	.banner-grid {
	   margin: 0px 0 0 26em;
	}
}
@media (max-width: 768px) {
	/*-- home --*/
	.banner-grid {
	   margin: 0px 0 0 24em;
	}
	.banner-info {
	  margin: 3em 3em 0 0;
	}
	.bx-caption {
	  height: 394px;
	}
	.bx-caption:before {
	  border-width: 394px 193px 0px 0;
	  left: -193px;
	}
	.top-nav ul li {
		margin: 0 1em;
	}
	.callbacks_tabs {
	  right: 17%;
	}
	.banner-grid {
	  margin: 0px 0 0 16em;
	}
	.offer-right {
		min-height: 290px;
	}
}
@media (max-width: 480px) {
	/*-- home --*/
	span.menu {
	   display: block;
	  padding-bottom: 1em;
	  cursor: pointer;
	  font-size: 1.2em;
	  color: #000;
	  position: relative;
	}
	.logo a {
		font-size: 3em;
	}
	ul.nav1 {
		display: none;
	}
	.top-nav {
	  text-align: center;
	  padding: 1em 0 0em 0;
	}
	.top-nav ul {
	  padding: 0;
	  margin: 0 auto;
	  z-index: 9999;
	  position: absolute;
	  width: 100%;
	  left: 0;
	}
	.top-nav ul.nav1 li {
	  display: block;
	  text-align: center;
	  background: rgba(28, 213, 181, 1);
	  border-bottom: 1px ridge rgba(255, 255, 255, 0.28);
	  margin: 0;
	  width: 100%;
	}
	.top-nav ul li a {
	  padding: .5em 0;
	  display: block;
	  float: none;
	  color: #FFFFFF;
	}
	.banner-info h3 {
	  font-size: 1em;
	}
	.banner-grid {
	  margin: 0px 0 0 13em;
	}
	.banner-info {
	  margin: 3em 1em 0 0;
	}
	.banner-info p {
		font-size: .8em;
		line-height:1.5em;
	}
	.bx-caption {
	  height: 311px;
	}
	.bx-caption:before {
	  border-width: 311px 100px 0px 0;
	  left: -100px;
	}
	.banner {
	  background: url(../images/banner.jpg) no-repeat -147px 74px;
	  background-size: cover;
	}
	.welcome {
		padding: 2em 0;
	}
	.welcome-info h3 {
		font-size: 2em;
	}
	.welcome-info p.welcome-text {
	  width: 90%;
	}
	.offer-left {
	  padding: 2em;
	}
	.offer-left h3 {
		font-size: 2em;
	}
	.offer-right {
	  min-height: 232px;
	  background: url(../images/3.jpg) no-repeat 0px -54px;
	  background-size: cover;
	}
	.offer-left-list {
	  width: 100%;
	  float: none;
	}
	.news {
	  padding: 2em 0;
	}
	.news-info h3 {
		font-size: 2em;
	}
	.family {
		padding: 2em 0;
	}
	.family h3 {
		font-size: 2em;
	}
	.family-grid h4 {
	  font-size: 1.5em;
	  margin: 1em 0 0 0;
	}
	.callbacks_tabs {
	  right: 11%;
	}
	/*-- about --*/
	.about {
	   padding: 0 !important;
	}
	.about-right {
		min-height: 240px;
	}
	.about-bottom {
		padding: 2em 0;
	}
	.about-bottom-grids {
	  margin-top: 2em;
	}
	.about-team {
		padding: 2em 0;
	}
	.about-team h4 {
		font-size: 2em;
	}
	.team-grids {
	  margin-top: 2em;
	}
	/*-- gallery --*/
	.gallery-info h3 {
	  font-size: 2em;
	}
	.gallery-info {
		margin: 2em 0;
	}
	.gallery-grids-top {
	  margin-bottom: 0em;
	}
	/*-- typography --*/
	.typography {
		padding: 2em 0;
	}
	.typography-info h3.type {
		font-size: 2em;
	}
	/*-- contact --*/
	.contact-info {
		margin: 2em 0;
	}
	.contact-info h3 {
		font-size: 2em;
	}
	.mail-grid-left h3 {
		font-size: 2em;
	}
}
@media (max-width: 320px) {
	/*-- home --*/
	span.menu {
		font-size: 1em;
		padding-bottom: .5em;
	}
	.top-nav {
		padding: 0;
	}
	.banner {
	  background: url(../images/banner.jpg) no-repeat -204px 74px;
	  background-size: cover;
	}
	.banner-grid {
		margin: 0px 0 0 7em;
	}
	.bx-caption {
	  height: 278px;
	  padding: 0;
	}
	.bx-caption:before {
	  border-width: 278px 43px 0px 0;
	  left: -43px;
	}
	.callbacks_tabs {
		top: 99%;
	}
	.logo {
		padding: 0.5em 0 0 0;
	}
	.logo a {
	  font-size: 2em;
	}
	.banner-info {
	  margin: 2em 1em 0 0;
	}
	.top-nav ul li a {
		font-size: .9em;
	}
	.welcome {
	  padding: 1em 0;
	}
	p.caption {
		font-size: .8em;
	}
	.welcome-info p.welcome-text {
	  width: 100%;
	  font-size: .8em;
	  margin: 1em auto 0;
	}
	.offer-right {
		min-height: 148px;
	}
	.offer-left h3 {
	  font-size: 1.6em;
	}
	.offer-left {
	  padding: 1em;
	}
	.offer-left p {
		font-size: .8em;
	}
	.offer-left-list ul li a {
		font-size: .8em;
	}
	.news-info h3 {
	  font-size: 1.6em;
	}
	.news-info p {
		font-size: .8em;
	}
	.date h5 {
		font-size: 1em;
	}
	.date p {
		padding: .5em 0 .5em 0;
		font-size: .8em;
	}
	.date {
		width: 69px;
	}
	.date-bottom p {
		font-size: .8em;
	}
	.family h3 {
	  font-size: 1.6em;
	}
	.family p {
		font-size: .8em;
	}
	.family-grids {
	  margin: 2em 0 0 0;
	}
	.family-grid {
	  float: none;
	  width: 100%;
	}
	.family-grid:nth-child(2){
		margin:2em 0;
	}
	.family-grid img {
	  width: 64%;
	}
	.footer-top {
	  padding: 1em 0;
	}
	.footer-logo {
	  float: none;
	  text-align: center;
	}
	.footer-logo a {
		font-size: 2em;
	}
	.footer-icons {
	  float: none;
	  text-align: center;
	}
	.footer-bottom p {
	  font-size: .8em;
	}
	/*-- about --*/
	.about-info {
		padding: 1em 0;
	}
	.about-info h3 {
		font-size: 1.6em;
	}
	.about-right {
	  min-height: 157px;
	}
	.about-bottom h3 {
		font-size: 1.6em;
	}
	.about-bottom-left h4 {
	  font-size: 1.2em;
	  line-height: 1.3em;
	}
	.about-bottom-left p {
		font-size: .8em;
	}
	.about-bottom-right {
	  margin-top: 2em;
	}
	.team-grids {
	  margin-top: 2em;
	}
	.team-grid {
	  float: left;
	  padding: 0;
	  width: 100%;
	}
	/*-- gallery --*/
	.gallery-info h3 {
	  font-size: 1.6em;
	}
	.gallery-grids-top {
	  margin-bottom: 1em;
	}
	.gallery-grid {
	  float: none;
	  width: 100%;
	  margin-bottom: 1em;
	  padding: 0;
	}
	/*-- typography --*/
	.typography {
	  padding: 1em 0;
	}
	.typography-info h3.type {
		font-size: 1.6em;
	}
	/*-- contact --*/
	.contact-info {
	  margin: 1em 0;
	}
	.contact-info h3 {
	  font-size: 1.6em;
	}
	.map iframe {
	  min-height: 160px;
	}
	.mail-grids {
	  margin: 1em 0;
	}
	.mail-grid-left h5 {
		font-size: .8em;
	}
	.mail-grid-left p {
		font-size: .8em;
	}
	.contact-form input[type="text"] {
		font-size: .8em;
	}
	.contact-form textarea {
		font-size: .8em;
	}
	.mail-grid-left h3 {
	  font-size: 1.6em;
	}
}