@charset "utf-8";
/*
Design by http://www.templateaccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/
body { margin:0; padding:45px 0 0 0; width:100%; color:#959595; font:normal 12px/1.8em Arial, Helvetica, sans-serif; background:url(images/bg.jpg);}
html, .main { padding:0; margin:0;}
.logo { float:left; width:299px; padding:110px 0 0 0; margin:0 auto;}
h1 { margin:0; padding:0; color:#FFF; font:bold 38px/1.2em Arial, Helvetica, sans-serif; letter-spacing:-2px; text-align:center;}
h1 a, h1 a:hover { color:#FFF; text-decoration:none;}
h1 span { color:#9dd9ff;}
h1 small { display:block; padding:0 10px; font:normal 12px/1.2em Arial, Helvetica, sans-serif; letter-spacing:normal;}
h2 { font:normal 24px Arial, Helvetica, sans-serif; padding:8px 0; margin:0; color:#595959;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
p.spec {}
a { color:#97c950; text-decoration:underline;}
a.rm, a.com { padding:0; text-decoration:none;}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}

.main_resize { padding:0; margin:0 auto; width:970px; border:3px solid #dbdbdb; background:#fefefe;}

/* header */
.header { padding:13px; margin:0 auto;}

/* hbg */
.hbg { padding:0; margin:0; background:#78bbe6; height:289px;}
.hbg img { border-left:3px solid #fff; float:right;}

/* menu */
.menu_nav { margin:0; padding:0; height:66px;}
.menu_nav ul { list-style:none; margin:0; padding:0; float:right;}
.menu_nav ul li { margin:0; padding:15px 5px 15px 0; float:left;}
.menu_nav ul li a { display:block; margin:0 10px; padding:7px 10px; color:#878989; text-decoration:none; font-size:13px; line-height:16px; border-bottom:5px solid #FFF;}
.menu_nav ul li.active a, .menu_nav ul li a:hover { color:#78bbe6; text-decoration:none; border-bottom:5px solid #78bbe6;}

/* content */
.content { padding:13px; margin:0;}
.mainbar { margin:0; padding:0; float:right; width:638px;}
.mainbar img { padding:4px; border:1px solid #f2f2f1; background:#FFF; }
.mainbar img.fl { margin:4px 16px 4px 0; float:left; }
.mainbar .article { margin:0; padding:10px 0 5px 15px;}
.mainbar .article a { color:#78bbe6;}
.mainbar .post-data a { color:#595959;}
.mainbar .spec a { padding:5px 15px; background:#78bbe6; color:#FFF;}
.sidebar { padding:0; float:left; width:306px; background:#f2f2f2;}
.sidebar h2 { background:#78bbe6; color:#FFF; padding-left:15px;}
.sidebar h2.grey { background:#afafaf; color:#FFF;}
.sidebar .gadget { margin:0; padding:10px 0;}
.sidebar .gadget .title { text-align:right;}
.sidebar .gadget span.q { text-align:right; font:normal 60px/12px Arial, Helvetica, sans-serif; color: #d9d9d9;}
ul.sb_menu, ul.ex_menu, .testi { margin:0; padding:0 10px; color:#939393; list-style:none;}
ul.sb_menu li, ul.ex_menu li { margin:0;}
ul.sb_menu li { padding:2px 0;}
ul.ex_menu li { padding:2px 0;}
ul.sb_menu li a, ul.ex_menu li a { display:block; color:#959595; text-decoration:none; padding:5px 5px 5px 20px; background:url(images/menu_link.gif) no-repeat left center;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover, ul.sb_menu li.active a, ul.ex_menu li.active a { background:url(images/menu_hover.gif) no-repeat left center;}
ul.sb_menu li a:hover { text-decoration:underline;}
ul.ex_menu li a:hover { text-decoration:underline;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg { margin:0; padding:13px; background:#78bbe6;}
.fbg img { padding:4px; border:1px solid #cfd2d4; background-color:#fff;}
.fbg p, .fbg h2 { color:#fbfbfb;}
.fbg a { color:#fbfbfb;}
.fbg .col { margin:0; float:left; background:url(images/fbg_line.gif) repeat-y right;}
.fbg .c1 { padding:0 15px 0 0; width:270px;}
.fbg .c2 { padding:0 15px; width:324px;}
.fbg .c3 { padding:0 0 0 15px; width:290px; background:none;}
.fbg .c1 img { margin:8px 16px 8px 0;}
.fbg .c3 img { margin:8px 16px 4px 0; float:left;}

/* footer */
.footer { }
.footer_resize { margin:0 auto; padding:20px 0; width:944px;}
.footer .lf { float:left;}
.footer .rf { float:right;}
.footer p { color:#9a9a9a; margin:0; padding:4px 0; width:auto; line-height:1.5em;}
.footer p a { color:#78bbe6; text-decoration:none;}

/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
ol li .send { margin:16px 0 0 0;}

/* Search form */
.search { padding:0; margin:0;}
.search span { width:280px; display:block; background:#FFF; height:29px; margin:0 auto; padding:0; border:1px solid #e1dddd;}
.search input#s { float:left; width:230px; padding:7px 0 7px 10px; margin:0; border:0; background:none; color:#afaeae; font:normal 12px/15px Arial, Helvetica, sans-serif; }
.search .btn { float:left; padding:0; margin:0; border:0; width:auto; }

/*=== PageNavi. ===*/
.pagenavi { clear:both; font: normal 11px Arial, Helvetica, sans-serif; margin:0 auto; text-align:right; padding:20px 15px;}
.pagenavi a,
.pagenavi .current { margin-left:3px; padding:3px 8px; text-decoration:none; color:#939393; background:#f9fbfc; border:1px solid #d9e3cb;}
.pagenavi a:hover,
.pagenavi .current {  background:#78bbe6; color:#FFF;}
.pagenavi .pages { float:left;}

.fl { float:left;}
.fr { float:right;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}